body {
  max-width: 700px;     /* Change to whatever width you want */
  margin: 0 auto;         /* Centers the container horizontally */
  padding: 0 1em;         /* Adds horizontal spacing on smaller screens */
  box-sizing: border-box; /* Ensures padding doesn't break your layout */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
