/*Card to go around the entire webpage*/
.spaceWeatherHeader {
  box-sizing: border-box;
  /* Include padding and border in the width calculation */
  margin: 20px auto;
  /* Adjusted margin for centering */
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  max-width: 100px;
  /* New styles for centering */
  display: flex;
  justify-content: center;
  align-items: center;
}

.summaryStyle {
  box-sizing: border-box;
  /* Include padding and border in the width calculation */
  margin: 20px auto;
  /* Adjusted margin for centering */
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  max-width: 100px;
  /* New styles for centering */
  display: flex;
  justify-content: center;
  align-items: center;
}


.gifCard {
  box-sizing: border-box;
  /* Include padding and border in the width calculation */
  margin: 20px auto;
  /* Adjusted margin for centering */
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  max-width: 100px;
  /* New styles for centering */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .gifCard {
    max-width: 100%;
  }

  /* Adjusted font size for smaller screens */
}

.spaceFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
}

