/*Card to go around the entire webpage*/
.body {
  /*  display: inline-block;    this makes everything in the card display side by side*/
  margin: 20px;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  width: auto;
  -webkit-text-size-adjust: 100%;
}
/*Styling ordered from top to bottom of web page.*/
.navTitle {
  display: flex;
  background-image: linear-gradient(144deg, #22c7dd, #6296e9 50%, #2d9b9f);
  color: #000000;
  border: 0;
  border-radius: 0px;
  box-shadow: rgba(140, 6, 265, 0.2);
  padding: 3px;
  font-size: 15px;
  justify-content: space-evenly;
  width: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(194, 206, 251);
}

/*Styling for nav navigation options*/
.navOptionsTop {
  align-items: center;
  text-align: center;
  display: flex;
  background-image: linear-gradient(144deg, #22c7dd, #6296e9 50%, #2d9b9f);
  color: #000000;
  border: 0;
  border-radius: 0px;
  box-shadow: rgba(140, 6, 265, 0.2);
  padding: 3px;
  font-size: 15px;
  justify-content: space-evenly;
  width: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(194, 206, 251);
  filter: brightness(110%);
}

.navOptionsTop:active,
.navOptionsTop:hover {
  background-color: #005c64;
  color: #00952d;
}

/*Styling for nav navigation options*/
.navOptionsTop-but {
  align-items: center;
  text-align: center;
  display: flex;
  background-image: linear-gradient(144deg, #22c7dd, #6296e9 50%, #2d9b9f);
  color: #000000;
  border: 0;
  border-radius: 0px;
  box-shadow: rgba(140, 6, 265, 0.2);
  padding: 3px;
  font-size: 15px;
  justify-content: space-evenly;
  width: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(194, 206, 251);
  cursor: pointer;
  filter: brightness(120%);
}

.navOptionsTop-but:active,
.navOptionsTop-but:hover {
  background-color: #005c64;
  color: #00952d;
}

/*Styling for navigation options forecast*/
.navOptions {
  align-items: center;
  text-align: center;
  display: flex;
  background-image: linear-gradient(144deg, #22c7dd, #6296e9 50%, #2d9b9f);
  color: #000000;
  border: 0;
  border-radius: 0px;
  box-shadow: rgba(140, 6, 265, 0.2);
  padding: 3px;
  font-size: 15px;
  justify-content: space-evenly;
  width: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(194, 206, 251);
  filter: brightness(110%);
}

/* The apps search card theme */
.cardSearch {
  margin: 20px;
  width: auto;
  border-radius: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-color: #d4def1;
  width: auto;
  filter: brightness(120%);
}
/* current city heading styles */
.current-heading {
  margin: 10px;
  font-size: 16px;
  line-height: 1;  /* line spacing after each line*/
}
/* current city name styling */
.current-City {
  color: #135897;
  font-weight: bold;
  margin: 5px;
}
/* Lattitue, Longitute, and elevation spacing*/
.lat-lon-elev {
  display: flex;
  gap: 20px;
  margin: 5px;

}
/*Styling Current Weather conditions side-dy-side with weather data*/
.currentData {
  display: flex;
  text-align: center;
  margin: 20px;
  font-size: 12px;
  font-size: 0.8em;
}
.currentData > div {
  flex: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}
/*Styling the image and temperature side by side*/
.temp-container {
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 14px;
  line-height: 0.5; 
  margin: 5px;
}
.temp-description-font {
  font-size: 14px;
}
.temp-container img {
  margin-right: 10px;
  width: 100px;
}
.locationData {
  font-size: 40px;
  font-weight: bold;
  -webkit-text-size-adjust: 100%;
}

/* Mobile styles go here */
@media (max-width: 767px) {
  .locationData {
      font-size: 25px;  /* Adjust font size for smaller screens */
  }
  .locationDataCelcius {
    font-size: 18px;  /* Adjust font size for smaller screens */
  }
}
.temp-celcius-font {
  font-size: 21px;
  line-height: 20px;
}
/*Styling for the current data thats at the center.*/
.center-current-data{
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  line-height: 1.42857143;
}
.center-data-item {
  margin-bottom: 0px;
}

/*Add text style anc color to headers for each section*/
.Extended-Forecast-header {
  background-image: linear-gradient(144deg, #22c7dd, #6296e9 50%, #2d9b9f);
  color: #000000;
  display: flex;
  flex-direction: column;
  border: 0;
  line-height: 0.3;  /* line spacing after each line*/
  border-radius: 0px;
  box-shadow: rgba(140, 6, 265, 0.2);
  justify-content: space-evenly;
  width: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(194, 206, 251);
  filter: brightness(110%);
  font-weight: 700;
}

.ext-fore{
  margin: 10px;
  font-size: 14px;
  font-size: 0.8em;
}
.ext-city-name {
  font-size: 20px;
  
  color: #031d36;
}



/* The apps search button color theme */
.btn-color-theme,
.btn-color-theme:hover,
.btn-color-theme:active {
  background-image: linear-gradient(144deg, #22c7dd, #6296e9 50%, #2d9b9f);
  border-color: #d4def1;
}

/* The apps search button color theme hover highlight text*/
.btn-color-theme:hover,
.btn-color-theme:active {
  background-color: #005c64;
  color: #00952d;
}


.even-item {
  background-image: linear-gradient(144deg, #22c7dd, #6296e9 50%, #2d9b9f);
  filter: brightness(150%);
}

.odd-item {
  background-image: linear-gradient(144deg, #22c7dd, #6296e9 50%, #2d9b9f);
  filter: brightness(120%);
}

/*Container for the extended forecast*/
.forecast-card-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 5px;
}

/*Container to align the items in a row*/
.periodItem {
  flex: 0 0 12%;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
}

/*Card to display the extended forecast side by side*/
.forecast-card {
  background-color: #fff;
  flex: 10;
  margin: 10px;
  padding: 10px;
  /* set the desired width of the card */
  margin: 5px;
}

/*Extended Forecast fitting all data within the container.*/
.ExFo-container {
  margin: 10px;
  padding: 10px;
  overflow: auto;
  width: auto;
}

/***************************************ModeBar Styling************************************************/
/*Styling for mode bar at the bottom of the page,position fixed along with
 bottom places the mode bar at the bottom of the page 
This keeps the mode bar at the bottom*/
.modebar {
  background-color: #585859;
  overflow: hidden;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  z-index: 100;
  cursor: pointer;
}

/* Style the links inside the bottom nav bar
   I can split the bottom of the mode bar by changing the width. 
      ex. 32% would give me 3 sections. 
*/
.modebar a {
  display: block;
  float: left;
  width: 33%;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 20px;
}

/* Add background color to button when it is hovered */
.modebar a:hover {
  color: #00952d;
}

/* Style the text in the bottom bar */
.modebar-text {
  display: block;
  font-size: medium;
}

/********************************* Modal Pop-up Box styling **********************************************/
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.modal-header {
  padding: 2px 16px;
  background-color: black;
  color: white;
  text-align: center;
}
/* Styling for the About header*/
.modal-header {
  padding: 2px 16px;
  background-image: linear-gradient(144deg, #59bd2b, #6296e9 50%, #008458);
  color: white;
}

.modal-title {
  font-size: 28px;
  padding: 2px 16px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: black;
  color: rgb(0, 0, 0);
  position: left;
}

/* The Close Button for modal box */
.close {
  display: flex;
  background-image: linear-gradient(144deg, #59bd2b, #6296e9 50%, #008458);
  color: #000000;
  border: 0;
  border-radius: 0px;
  box-shadow: rgba(140, 6, 265, 0.2);
  padding: 3px;
  font-size: 15px;
  justify-content: space-evenly;
  width: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(194, 206, 251);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content Box*/
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Style the close button at the bottom of modal box*/
.modal-submit-btn {
  align-items: center;
  text-align: center;
  display: flex;
  background-image: linear-gradient(144deg, #59bd2b, #6296e9 50%, #008458);
  color: #000000;
  border: 0;
  border-radius: 0px;
  box-shadow: rgba(140, 6, 265, 0.2);
  padding: 3px;
  font-size: 15px;
  justify-content: space-evenly;
  width: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(194, 206, 251);
  filter: brightness(110%);
}

/* Modal Content/Box */
.modal {
  padding: 56px 8px 0px 8px;
  display: block;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/**************************************future use**********************************************/
/* change items to gray when disabled class is applied  */
.disabled {
  color: gray;
}

.hide {
  display: none;
}

/*Used to adjust the layout and styling based on the device screen size****************************************/
/* Styles for mobile devices */

